* {
    font-family: Arial;
}

ul {
    list-style-type: none;
}
nav ul {
    display: flex;
}

nav li {
    padding: 14px 16px;
}
.profile {
    display : flex;
    justify-content: space-between;
}



.gamesDisplay {
    display: flex;
    flex-wrap : wrap;
    justify-content: center;
}

.gameBox {
    padding: 5px;
}